@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "MVC View Result Çeşitleri";
}

<h2>MVC View Result Çeşitleri</h2>

<h4>Farklı View Döndürme</h4>
<a href="/MVC09ViewResults/FarkliViewDondur">View Result</a>

<h3>
    Redirect Result : Sayfayı bir url adresine yönlendirme için kullanılır.
</h3>

<a href="/MVC09ViewResults/Yonlendir">Redirect Result</a>

<h3>
    RedirectToAction Result : Sayfayı başka bir actiona yönlendirme için kullanılır.
</h3>

<a href="/MVC09ViewResults/ActionaYonlendir">RedirectToAction Result</a>

<h3>
    RedirectToRoute Result : Sayfayı başka bir route a yönlendirmek için kullanılır.
</h3>

<a href="/MVC09ViewResults/RouteYonlendir">RedirectToRoute Result</a>

<h3>
    PartialViewResult : Action gelen istek sunucu geriye bir PartialView döndğrmek için kullanılır.
</h3>
<a href="/MVC09ViewResults/KategorileriGetirPartial">PartialViewResult Result</a>

<h4>
    JsonResult : controller daki bir actiona gelen istek sonucu geriye json türünde veri döndürebiliriz.
</h4>
<a asp-action="JsonDondur">JsonResult</a>

<h4>
    ContentResult : controller daki bir actiona gelen istek sonucu geriye xml türünde veri döndürebiliriz.
</h4>
<a asp-action="XmlContentResult">XmlContentResult</a>