<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="MVC08Partial" asp-action="Index">Partial</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="MVC09ViewResults" asp-action="Index">ViewResults</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="MVC10FileUpload" asp-action="Index">File Upload</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="MVC11Cookie" asp-action="Index">Cookie</a>
</li>

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Diğer Konular
    </a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/MVC12Session">Session</a></li>
        <li><a class="dropdown-item" asp-controller="MVC13StringFormat" asp-action="Index">StringFormat</a></li>
        <li><a class="dropdown-item" href="/MVC14AppSetting">AppSetting</a></li>
        <li><a class="dropdown-item" href="/MVC15FilterUsing">FilterUsing</a></li>
        
    </ul>
</div>