<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="MVC08Partial" asp-action="Index">Partial</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="MVC09ViewResults" asp-action="Index">ViewResults</a>
</li>