
@{
    ViewData["Title"] = "AppSetting ile Veri Okuma";
}

<h1>AppSetting ile Veri Okuma</h1>

<p>
    Mvc ile config dosyasına yazacağımız özel verilere erişip uygulama içerisindee kullanabiliriz.
</p>

<p class="alert alert-warning">
    @ViewBag.Mesaj
</p>