
@{
    ViewData["Title"] = "İletişim"; //controller sayfasında contact metot - sağ tık - add view - razor view - name : contact - add (hata çözülür sayfa açılmış ve eklenmiş oldu)
}

<h1>Contact</h1>
<h3>Bize Ulaşın</h3>