@{ //c#kodu yazığımızı anlaması için
    ViewData["Title"] = "Anasayfa";
}

@*html direkt yazabiliriz*@
<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <p>MVC Nedir ? Mvc'nin Çalışma Prensibi Nasıldır ?</p>
</div>