@{ //sadece içerik oluşturuyoruz
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p>
    Sitenizin gizlilik politikasını ayrıntılı olarak açıklamak için bu sayfayı kullanın.
</p>