
@{
    ViewData["Title"] = "CookieOku";
}

<h1>CookieOku</h1>

<h3>Cookie deki kullanıcı adı :</h3>
@TempData["kullaniciAdi"]

<h3>Cookie deki kullanıcı guid :</h3>
@TempData["kullaniciguid"]

<hr>
<a href="CookieSil">Cookie Sil</a>