
@{
    ViewData["Title"] = "MVC Filters Using";
}

<h1>
    MVC Filters Using - Filtre Kullanımı
</h1>

<h4>
    Action Filters : Özel Filtre
</h4>
<a href="/MVC15FilterUsing/UyelikBilgilerim">Filtre Kullanımı</a>

<hr>

<h4>
    Authorization Filters : Oturum Filtresi
</h4>
<a href="/MVC15FilterUsing/Edit/1">Üye Güncelle</a>