@*
yorum satırı
*@

@{
    ViewData["Title"] = "MVC Model Kullanımı ve Model Binding"; 
}

<h1>MVC Model Kullanımı ve Model Binding</h1>

<p>
    Class ları Mvc de model olarak tanımlayıp veri taşımada kullanabilmekteyiz.
</p>

<p>
    1 sayfada 1 tane model class ı kullanabiliriz.
</p>

<p>
    1 View a model tanımlamak için sayfanın en üstüne @@ ifadesinden sonra ilgili class adını yazmalıyız @*model kendi view ında tanımlandı*@
</p>

<ul>
    <li><a href="/MVC04ModelBinding/KullaniciDetay">Kullanıcı Sayfası</a></li>
    <li><a href="/MVC04ModelBinding/AdresDetay">Adres Detay Sayfası</a></li>
    <li><a href="/MVC04ModelBinding/KullaniciAdresDetay">Kullanıcı Adres Detay - 2 modelli</a></li>
</ul>