@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "MVC Area Kullanımı";
}

<h2>MVC Area Kullanımı</h2>

<p class="alert alert-info">
    Mvc de uygulamamız içerisinde alt uygulama gibi çalışan area yapısı vardır
    <br>
    Arealar ile uygulamanın admin panelini yapabiliriz.
    <br>
    Uygulama içerisinde çalışan bir blog sitesi yapabiliriz
</p>

<h2>Area Oluşturma</h2>

<p class="alert alert-warning">
    Projeye sağ tık sağ click ile add area > mvc area menüsüne basıp açılan formdan isim vererek(örneğin admin) area oluşturuyoruz.
    <br>
    Diğer yöntem ise projeye sağ tıklayıp add > new scaffolded item > mvc area seçeneğini seçerek area oluşturabiliriz
    <br />
    1 projede 1 den fazla area bulunabilir.
    <br />
    Bu durumda dikkat etmemiz gereken her area için program.cs de routing ayarını yapılandırmış olmalıyız!
</p>

<a href="/area" target="_blank" class="btn btn-outline-dark">Yönetim Paneli</a>
<a href="/Blog" target="_blank" class="btn btn-outline-dark">Blog</a>
